.Sidebar-container {
  width: 100%;
  height: 100%;
  padding: 15px 25px;
  text-align: left;
}

.Sidebar-title {
  color: #6d6d6d;
  font-weight: 500;
  margin-bottom: 15px;
}

.Sidebar-list {
  list-style: none;
}

.Sidebar-list-item {
  padding: 15px 0 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6d6d6d;
}

.Sidebar-list-item > div {
  display: flex;
  align-items: center;
}

.Sidebar-list-item > span {
  display: inline-block;
}

.Sidebar-list-item > form {
  width: 100%;
}

.Sidebar-new-label-input {
  width: 100%;
  display: none;
  padding: 5px 10px;
  border: 2px solid #e6e6e6;
  font-size: 0.9em;
  font-weight: 500;
}

.Sidebar-new-label-input.active {
  display: block;
}

.item-color {
  width: 20px;
  height: 8px;
  display: inline-block;
  border-radius: 2px;
  margin-right: 10px;
}

.Sidebar-button {
  padding: 5px 0 5px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  border: none;
  background: none;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.Sidebar-button > span {
  display: inline-block;
  width: 20px;
  border-radius: 2px;
  margin-right: 10px;
  font-size: 1.8em;
  font-weight: 400;
}